<!DOCTYPE html>
<html ng-app="wc" ng-controller="AppCtrl">
    <head>
        <title ng-bind="pageTitle"></title>

        <meta charset="utf-8" />
        <!-- social media tags -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@abidibo">
        <meta name="twitter:title" content="Webcam Cumiana">
        <meta name="twitter:description" content="La prima webcam pubblica del paese in provincia di Torino">
        <meta name="twitter:creator" content="@abidibo">
        <meta name="twitter:image:src" content="https://www.stefanocontini.name/webcam/">
        <meta property="og:title" content="Webcam Cumiana" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://www.stefanocontini.name/webcam/cumiana/" />
        <meta property="og:image" content="https://www.stefanocontini.name/webcam/" />
        <meta property="og:description" content="La prima webcam pubblica del paese in provincia di Torino">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- font awesome from BootstrapCDN -->
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

        <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
        <script type="text/javascript" src="<%= file %>"></script><% }); %>

        <!-- it's stupid to have to load it here, but this is for the +1 button -->
        <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
            { "parsetags": "explicit" }
        </script>
        <!-- bootstrap material -->
        <script>
                $(document).ready(function() { $.material.init(); })
        </script>
    </head>
    <body>
        <header class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
                    ng-click="menuCollapsed = ! menuCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <h1>Webcam #Cumiana</h1>
                    <small>
                        <a href="">
                            v<%= version %>
                        </a>
                    </small>
                </div>
            </div>
            <div class="collapse navbar-collapse navbar-right" collapse="menuCollapsed">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="//www.abidibo.net">
                            <i class="fa fa-user"></i>
                            abidibo
                        </a>
                    </li>
                    <li>
                        <a href="//www.torinometeo.org">
                            <i class="fa fa-globe"></i>
                            TorinoMeteo
                        </a>
                    </li>
                </ul>
            </div>
        </header>

        <nav class="topbar shadow-z-1">
           <ul class="">
                <li ui-sref-active="active">
                    <a href ui-sref="home">
                        <i class="fa fa-camera"></i>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a href ui-sref="map">
                        <i class="fa fa-map-marker"></i>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a href ui-sref="about">
                        <i class="fa fa-question-circle"></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </nav>
        <div class="anim-in-out anim-fade" data-anim-speed="100" ui-view="main"></div>

        <footer class="footer">
            <div class="container">
                <div class="footer-inner">
                    <p class="text-center">
                        <a ui-sref="policy" href>Visualizza la Cookie Policy</a>
                    </p>
                    <p class="text-center">
                        Site based on
                        <a href="http://www.angularjs.org">AngularJS</a>,
                        <a href="http://getbootstrap.com">Bootstrap</a>, 
                        <a href="https://github.com/FezVrasta/bootstrap-material-design">Bootstrap Material Design</a>, 
                        <a href="http://angular-ui.github.com/bootstrap">UI Bootstrap</a>,
                        and 
                        <a href="http://fortawesome.github.com/Font-Awesome">Font Awesome</a>.<br />
                        © 2015 <a href="http://www.abidibo.net">abidibo</a><br />
                    </p>
                </div>
            </div>
        </footer>
        <!--Start Cookie Script-->
        <script type="text/javascript" charset="UTF-8" src="http://chs02.cookie-script.com/s/ffda34976c4176177970e24b3812ce61.js"></script>
        <!--End Cookie Script-->
    </body>
</html>
